<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <head>
        <meta charset="utf-8">
        <title>キャンバス/ヨンコミ！</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Bootstrap News Template - Free HTML Templates" name="keywords">
        <meta content="4コママンガ作成サイト" name="description">
        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/slick/slick.css" rel="stylesheet">
        <link href="lib/slick/slick-theme.css" rel="stylesheet">
        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <!-- Top Bar Start -->
        <!-- Nav Bar Start -->
        <div class="nav-bar">
            <div class="container">
                <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                    <a href="#" class="navbar-brand">MENU</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto">
                            <a href="/top" class="nav-item nav-link mangamoji">ホーム！
                            </a>
                            <a href="/createManga" class="nav-item nav-link mangamoji">ツクル！
                            </a>
                            <a href="/join" class="nav-item nav-link mangamoji">サンカ！</a>
                        </div>
                        <div class="social ml-auto">
                            <a href="https://twitter.com/gr_phenix"><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Nav Bar End -->
        <div class="container pt-3">
<!--            <div class="row align-items-center tinpo">-->
            <div class="row align-items-center">
                <div class="col-lg-9">
                    <div class="b-logo">
                        <h1  class="text-center"th:text="${mangaData.themeName}"></h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand Start -->
        <div class="brand">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4" >
                        <img src="img/1024x768.png"alt="亀"title="亀"id="image1" width="720" height="480" style="padding-right: 20px;">
                    </div>
                    <div class="col-md-8">
                        <canvas id="canvas" width="1024" height="768" style="border: solid 5px rgb(121, 121, 121);box-sizing: border-box;"></canvas>
                        <div class="f-container">
                            <div class="col-5 rounded-lg" style="background-color: rgb(197, 197, 197); padding:5px;">
                                <div class="color float-right">
                                  <label class="h5">色：</label>
                                  <a href="" class="black" data-color="0, 0, 0, 1"></a>
                                  <a href="" class="red" data-color="255, 0, 0, 1"></a>
                                  <a href="" class="blue" data-color="0, 0, 255, 1"></a>
                                  <a href="" class="yellow" data-color="255, 255, 0, 1"></a>
                                  <a href="" class="white" data-color="255, 255, 255, 1"></a>
                                </div>
                                <div class="bold">
                                  <label class="h5">太さ：</label>
                                  <a href="" class="little" data-bold="1">小</a>
                                  <a href="" class="middle" data-bold="10">中</a>
                                  <a href="" class="large" data-bold="20">大</a>
                                  <a href="" class="mechalarge" data-bold="50">特大</a>
                                </div>
                                <input class="btn btn-danger" type="button" value="全消し" id="clear">
                                <a class="btn btn-primary" id="download" href="#" download="canvas.png">ダウンロード</a>
                            </div>
                            <div class="col-3 rounded-lg" >
                                    <label class="mangamoji  m-0">サクシャ：</label>
                                    <input type="text" value=""size="20"class="p-0">
                            </div>
                            <div class="rounded-lg">
                              <a href="/createManga" class="mangamoji"style="">ツイカ！</a>
                            </div>
                              <form action=""></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand End -->
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/slick/slick.min.js"></script>
        <!-- Template Javascript -->
        <script src="js/main.js"></script>
        <script>
            // canvas
            var cnvs = document.getElementById('canvas');
            var ctx = cnvs.getContext('2d');
            // 変数宣言
            const cnvWidth = 1024;
            const cnvHeight = 768;
            var cnvColor = "0, 0, 0, 1";  // 線の色
            var cnvBold = 5;  // 線の太さ
            var clickFlg = 0;  // クリック中の判定 1:クリック開始 2:クリック中
            var bgColor = "rgb(255,255,255)";
            // canvasの背景色を設定(指定がない場合にjpeg保存すると背景が黒になる)
            setBgColor();
            // canvas上でのイベント
            $("#canvas").mousedown(function(){
              clickFlg = 1; // マウス押下開始
            }).mouseup(function(){
              clickFlg = 0; // マウス押下終了
            }).mousemove(function(e){
              // マウス移動処理
              if(!clickFlg) return false;
              draw(e.offsetX, e.offsetY);
            });
            // 描画処理
            function draw(x, y) {
              ctx.lineWidth = cnvBold;
              ctx.strokeStyle = 'rgba('+cnvColor+')';
              // 初回処理の判定
              if (clickFlg == "1") {
                clickFlg = "2";
                ctx.beginPath();
                ctx.lineCap = "round";  //　線を角丸にする
                ctx.moveTo(x, y);
              } else {
                ctx.lineTo(x, y);
              }
              ctx.stroke();
            };
            // 色の変更
            $(".color a").click(function(){
              cnvColor = $(this).data("color");
              return false;
            });
            // 線の太さ変更
            $(".bold a").click(function(){
              cnvBold = $(this).data("bold");
              return false;
            });
            // 描画クリア
            $("#clear").click(function(){
              ctx.clearRect(0,0,cnvWidth,cnvHeight);
              setBgColor();
            });
            // canvasを画像で保存
            $("#download").click(function(){
              canvas = document.getElementById('canvas');
              var base64 = canvas.toDataURL("image/png");
              document.getElementById("download").href = base64;
            });
            function setBgColor(){
              // canvasの背景色を設定(指定がない場合にjpeg保存すると背景が黒になる)
              ctx.fillStyle = bgColor;
              ctx.fillRect(0,0,cnvWidth,cnvHeight);
            }
          </script>
    </body>
</html>